/* General body styles */
body.myBody { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Header styles */
header {
    background-color: #d6a9a9;
    color: #eee2e2;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Navigation menu styles */
header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;   
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


header nav ul li a:hover {
    color: #ffd700;
}

/* Sidebar menu styles */
ul.myMenu { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 25%; 
    background-color: #e6b0b0; 
    position: fixed; 
    height: 100%; 
    overflow: auto;
    margin-top: 60px;
}

ul.myMenu li a.myLink {   
    display: block; 
    color: #0a0101; 
    padding:10px 10px; 
    text-decoration: none;
}

ul.myMenu li a.myLink.active { 
    background-color: #e5959c; 
    font-weight: bold; 
    color: rgb(20, 2, 2);
}

ul.myMenu li a.myLink:hover:not(.active) { 
    background-color: #baa1a9; 
    font-weight: bold; 
    color: rgb(12, 1, 1);
}

.auction-item {
    position: absolute;
    max-width: 1000px;
    margin: 30px auto;
    padding: 180px;
    background-color: #fff;
    border-radius: 8px;
    justify-content: right;
    width: 100%;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #212529;
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: #212529;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #a98585;
}

/* Form styles */
form.form-inline.my-2.my-lg-0 {
    width: 75%;
    margin: auto;
}



