.vertical-nav {
    position: sticky;
    top: 0;
    width: 200px; 
    flex-shrink: 0; 
}
.vertical-nav .navbar-nav .nav-link {
    text-align: left; 
}
.auction-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px); 
}
.auction-item img {
    width: 100%;
    height: auto;
}
.auction-item h2 {
    font-size: 20px;
}
.auction-item p {
    font-size: 16px;
}
.auction-item button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; 
    justify-content: space-around; 
}

.auction-item img {
    max-width: 100%; 
    max-height: 200px; 
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "navbar items"
        "navbar items";
    grid-template-columns: 200px 1fr; /* Set the width of the navbar to 200px and the rest to the items */
}
.item-container {
    grid-area: items; /* Assign the items to the items area */
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap onto the next line */
    justify-content: space-around; /* Distribute the items evenly in the container */
}
